@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    900 Sesame Street<br />
    In Yo Mind, Hypnotize 89671<br />
    <abbr title="Phone">P:</abbr>
    123-456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:blt900@aol.com">blt900@aol.com</a>
</address>